*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
font-family: 'Barlow Condensed', sans-serif;
}
body{
    display: grid;
    grid-template-areas: "header header"
                          "main aside"
                          "main aside";
}

header{
    display: flex;
    justify-content: space-between;
    padding: 50px 80px;
    grid-area: header;
    
}

#logo{
    width: 30px;
    height: 30px;
    margin-right: 20px;
    
}
#menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#menu-button{
    display: none;
}
#nav ul {
    list-style-type: none;
    display: flex;
}
#nav ul li a {
    text-decoration: none;
    margin-right: 30px;
    color:  rgb(43, 41, 41);
    font-size: 1.0rem;
    cursor: pointer;
}
#nav ul li a:hover{
    opacity: 0.8;
    text-decoration: underline;
}
#nav ul li a:active{
    opacity: 0.5;
}

#nav ul ul{
    display: none;
}
#nav ul li:hover ul{
    display: flex;
    flex-direction: column;
    width: 120px;
    position: absolute;
    
}
#nav ul ul li {
    padding: 10px 5px;
    background-color: #ffffff;
    
}
#menu-ul{
    opacity: 1;
}

#login{
    background-color: transparent;
    border: none;
    color: rgb(180, 170, 170);
}
#login:hover{
    background-color: #e46a70;
    color: #ffffff;
   
}
#login:active{
    opacity: 0.5;
}
main{
    padding: 20px 80px;
    grid-area: main;

}

strong{
    color: #ffffff;
    font-size: 1.0rem;
    font-weight: 400;
    background-color: rgb(43, 41, 41);
    border: 3px solid rgb(43, 41, 41) ;
    border-radius: 15px;
    padding: 0px 0 2px 3px;
    margin-right: 10PX;
}
h3{
    color:rgb(212, 212, 212) ;
    font-weight: 400;
    letter-spacing: 3px;
    font-size: 1.0rem;
    
}
h1{
    font-weight: 700;
    color:rgb(43, 41, 41) ;
    font-size: 3.0rem;
    margin-top: 10px;
    line-height: 45px;
    width: 350px;
}
p{
    color:rgb(148, 148, 148) ;
    font-size: 1rem;
    width: 200px;
    margin: 20px 0 35px 0;
}
#box-button{
    display: flex;
    align-items: center;
    
    
}
button{
    color: #ffffff;
    background-color: #e46a70;
    border: 1px solid #e46a70;
    width: 120px;
    height: 30px;
    font-size: 0.9rem;
    border-radius: 5px;
    cursor: pointer;

}
button:hover{
    opacity: 0.8;
}
button:active{
    opacity: 0.5;
}

#p2{
 margin-left: 10px;
 letter-spacing: 2px;
 color:rgb(212, 212, 212)
}


aside{
    grid-area: aside;
    overflow: hidden;
}
#box-grey{
    background-color: #e8e8f3;
    opacity: 0.8;
    position: absolute;
    width: 55vw;
    height: 55vh;
    top: 0;
    right: 0;
    border-radius: 0 0 0 50px;
    z-index: -1;
    
}
#img-aside{
    width: 700px;
}




@media(max-width:570px){
body{
    display: grid;
    grid-template-areas: "header "
                          "aside"
                          "main ";
}
header{
    padding: 50px 15px;
    width: 100vw;
}
aside{
    margin: 0;
    width: 100vw;

    

}
#img-aside{
    width: 550px;
}
main{
    padding: 20px 15px;
    width: 100vw;
}
h1{ 
    line-height: 60px;
    margin-right: 0;
}
#p1{
    width: 90vw;
    font-size: 1.5rem;
    color: #979696;
    padding: 0;

}

button{
    font-size: 1.3rem;
    font-weight: 700;
    width:200px;
    height:50px;
}
    #menu-button{
        display: block;
        width: 50px;
    }
    #nav ul{
        display: none; 
    }
    
    #login{
        display: none;
    }
    #nav.active ul{
        
        display: block;
        position: absolute;
        background-color: rgb(255, 255, 255);
        width: 60%;
        left:25%;
        top:100px;
        text-align: center;
        z-index: 1;
    }
    #nav.active #login{
        display: flex;
    }
   
    #nav ul li{
        padding: 1rem 0;
        font-size: 1.8rem;
    }
    #nav ul li a{
        margin-right: 0;
    }
    #menu-button{
        display: flex;
        gap: .5rem;
        background-color: transparent;
        border: none;

    }
    #hamburger{
        border-top: 2px solid;
        width: 20px;
        color: #3f3c3c;
    }
    #hamburger::after, #hamburger::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;

    }
    #nav.active #hamburger{
        border-top-color: transparent  ;
    }
    #nav.active #hamburger::before{
        transform: rotate(135deg);
    }
    #nav.active #hamburger::after{
        transform: rotate(-135deg);
        top: -7px;
        
    }
   
    
    

}